@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Admin";
}

@Html.ActionLink("Logout", "Logout", "Login")
@Html.ActionLink("Add", "Add", "Posts")

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedAt)
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var post in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(_ => post.Title)
                </td>
                <td>
                    @Html.DisplayFor(_ => post.PublishedAt)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Posts", new { slug = post.Slug }, new{})
                    @Html.ActionLink("Edit", "Edit", "Posts", new { slug = post.Slug }, new { })
                    @Html.ActionLink("Preview", "Post", "Posts", new { area = "", slug = post.Slug }, new { })
                </td>
            </tr>
        }
    </tbody>
</table>