@using Blog.Core.Data.Entities
@model Blog.Core.Paging.PagedList<BlogEntry>

@{
    ViewBag.Title = "Blog";
}

<div class="frame centered-container">
    
    

    <div class="bit-10">

        @{
            if (Model.TotalItemCount > 0)
            {
                foreach (var entry in Model)
                {
                    <article class="blog-entry">
                        <h1>@Html.ActionLink(entry.Header, "Entry", "Blog", new { headerSlug = entry.HeaderSlug }, null)</h1>
                        <small>@entry.PublishDate.ToString("MMMM dd, yyyy")</small>
                        @Html.Raw(entry.Summary)
                        @Html.ActionLink("Continue Reading", "Entry", "Blog", new { headerSlug = entry.HeaderSlug }, new { @class = "flat-button" })
                    </article>
                }
            }
            else
            {
                <p>No blog entries found!</p>
            }
        }
        
        @Html.Partial("_PagerPartial", Model)
        

    </div>

    <div class="bit-6">
        <div class="input-group">
            <input type="text">
            <button class="search-button"><i class="fa fa-search"></i></button>
        </div>
    </div>

</div>
