@using GoBlog.Persistence.Entities
@model PostInputModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (TempData["newPost"] != null)
{
    <p>Your post has been published and is available @Html.ActionLink("here", "Post", "Home", new { area="", slug = Model.Slug }, new{}).</p>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.LabelFor(post => post.Title)
    @Html.EditorFor(post => post.Title)
    <br />
    @Html.LabelFor(post => post.Content)
    @Html.TextAreaFor(post => post.Content)
    @Html.CheckBoxFor(post => post.Draft)
    @Html.TextBoxFor(post => post.Tags)
    <button type="submit">Edit</button>
}