<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/medium.css" media="all" />
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink((string)ViewBag.SiteConfig.BlogTitle, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                @Html.NavigationLi("Home", "Index", "Home")
                @Html.NavigationLi("Archive", "Index", "Archive")
                @Html.NavigationLi("Tags", "Index", "Tags")

            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    @Html.NavigationLi("Admin", "Index", "Admin")
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    @Html.NavigationLi("Login", "Login", "Account")
                </ul>
            }
        </div>
    </nav>
    <main class="container main-content">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <p class="credit">&copy; @ViewBag.SiteConfig.BlogTitle @DateTime.Now.Year</p>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/Content/ago.js"></script>
    <script src="~/Content/medium.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>