@model IEnumerable<MediumDomainModel.PostModel>

@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("Submit New Post", "NewPost")
@Html.ActionLink("Logout", "Logout", "Account")

<h1>Admin.</h1>
<p>Welcome to the super duper secret administrator view.</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@Html.ActionLink("Edit", "EditPost", new{ postSlug = post.Slug })</td>
                <td>@Html.ActionLink("Delete", "DeletePost", new { postSlug = post.Slug })</td>
            </tr>
        }
    </tbody>
</table>