@model IEnumerable<Medium.DomainModel.PostModel>

<header class="page-header">
    <ul class="nav nav-pills pull-right">
        <li role="presentation">@Html.ActionLink("Add post", "AddPost")</li>
        <li role="presentation">@Html.ActionLink("Logout", "Logout", "Account")</li>
    </ul>
</header>

<h3>Posts</h3>

@if (TempData["Message"] != null)
{
    using (Html.Alert(AlertCriticalness.Success))
    {
        @TempData["Message"]
    }
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publish Date</th>
            <th>Published</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.PublishedAt.ToString("D", new CultureInfo("en-US"))</td>
                <td>@post.Published</td>
                <td>
                    @Html.ActionLink("Edit", "EditPost", new { postSlug = post.Slug })
                    @Html.ActionLink("Delete", "DeletePost", new { postSlug = post.Slug })
                </td>
            </tr>
        }
    </tbody>
</table>