@model TagsModel
@{
    ViewBag.Title = "Tags";
}

<header class="page-header">
    <h1>
        Tags
    </h1>
</header>

<ul class="tag-list">
    @foreach (var tag in Model.Tags)
    {
        <li>
            <span>
                <a href="#@tag.Name">
                    @tag.Name
                    <span class="label label-default">@tag.Count</span>
                </a>
            </span>
        </li>
    }
</ul>

@foreach (var pair in Model.TagsMap)
{
    <h2 id='@pair.Key.Name'>@pair.Key.Name</h2>

    <ul>
        @foreach (var post in pair.Value)
        {
            <li>@Html.ActionLink(post.Title, "Index", "Post", new{postSlug=post.Slug}, null)</li>
        }
    </ul>
}