<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/responsive-grid.css">
    <link rel="stylesheet" href="~/Content/style-sheet.css">
</head>
<body>

    <header>
        <div class="header-feature">
            <div class="header-feature-inner">
                <h1>ByteBlast</h1>
                <h3>Programming Blog</h3>
            </div>
        </div>

        <div class="centered-container">
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Archive", "Archive", "Blog")</li>
                    <li>@Html.ActionLink("Tags", "Tags", "Blog")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="frame centered-container">

            <div class="bit-9">
                <h3>About Me</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, minus, facere, provident ducimus eius ipsa <a href="">perferendis dolorum</a> optio porro repudiandae animi eos nam unde voluptatibus exercitationem mollitia similique accusamus beatae!</p>
            </div>

            <div class="bit-7">
                <div class="footer-search">
                    <h3>Search Blog</h3>
                    <div class="input-group">
                        <input type="text">
                        <button class="search-button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="credits-footer bit-16">
                <span>Copyright &copy; ByteBlast 2014.</span>
                <span>I built this blog engine myself and it is <a href="">open source.</a></span>
            </div>

        </div>
    </footer>

</body>
</html>