@model Blog.Models.EntryInput

@Html.ValidationSummary()

<div class="validation-summary-success">
    @if (ViewBag.EntryLink != null)
    {
        <p>Your post has been published and is available <a href="@ViewBag.EntryLink">here</a>.</p>
    }
        
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Header);
    @Html.TextBoxFor(m => m.Header);

    @Html.LabelFor(m => m.HeaderSlug);
    @Html.TextBoxFor(m => m.HeaderSlug);

    @Html.LabelFor(m => m.Content);
    @Html.HiddenFor(m => m.Content)
    <pre id="code-editor"></pre>

    <button type="submit" class="flat-button">Post</button>
}

@section scripts
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("code-editor");
        editor.setTheme("ace/theme/textmate");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().setUseWrapMode(true);
        editor.setHighlightActiveLine(false);
        editor.setPrintMarginColumn(70);

        $(document).ready(function () {
            editor.getSession().setValue(document.getElementById("Content").value);

            $("form").submit(function() {
                document.getElementById("Content").value = editor.getSession().getValue();
            });
        });

    </script>
}