@model Blog.Models.EntryInput

<div class="validation-summary-success">
    <p id="validation-message"> </p>
</div>

@using (Ajax.BeginForm("Add", "Entries", new AjaxOptions { LoadingElementId = "progress-indicator", UpdateTargetId = "validation-message", InsertionMode = InsertionMode.Replace }))
{
    @Html.LabelFor(m => m.Header);
    @Html.TextBoxFor(m => m.Header);

    @Html.LabelFor(m => m.HeaderSlug);
    @Html.TextBoxFor(m => m.HeaderSlug);

    @Html.LabelFor(m => m.Content);
    @Html.HiddenFor(m => m.Content)
    <pre id="code-editor"></pre>

    <button type="submit" class="flat-button">Post</button>
}

<div id="progress-indicator">
    <img src="~/Images/progress-indicator.gif" alt="Publishing..." />
</div>

@section scripts
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("code-editor");
        editor.setTheme("ace/theme/textmate");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().setUseWrapMode(true);
        editor.setHighlightActiveLine(false);
        editor.setPrintMarginColumn(70);

        window.onload = function () {
            editor.getSession().setValue(document.getElementById("Content").value);

            var form = document.querySelector("form");
            form.onsubmit = function () {
                document.getElementById("Content").value = editor.getSession().getValue();
            };

        };
    </script>
}