@model Blog.Models.EntryInput

    <section>
        @Html.ValidationSummary()
        
        @if (!string.IsNullOrEmpty(ViewBag.LinkToEntry))
        {
            <div class="validation-summary-success">
                <p>Post published. <a href="@ViewBag.LinkToEntry">View Post</a>.</p>
            </div>
        }
    </section>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Header);
        @Html.TextBoxFor(m => m.Header);

        @Html.LabelFor(m => m.HeaderSlug);
        @Html.TextBoxFor(m => m.HeaderSlug);

        @Html.LabelFor(m => m.Content);
        @Html.HiddenFor(m => m.Content)
        <pre id="code-editor"></pre>

        <button type="submit" class="flat-button">Post</button>
    }

<script>
    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/markdown");
    editor.getSession().setUseWrapMode(true);
    editor.setHighlightActiveLine(false);
    editor.setPrintMarginColumn(70);



    window.onload = function () {
        editor.getSession().setValue(document.getElementById("Content").value);

        var form = document.querySelector("form");
        form.onsubmit = function () {
            document.getElementById("Content").value = editor.getSession().getValue();
        };

    };
</script>