@using Blog.Infrastructure.Common
@model IList<Blog.Core.Infrastructure.Persistence.Entities.BlogEntry>

@{
    ViewBag.Title = "All";
}

<table>
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Views)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.First().PublishDate)
            <th>
        </tr>
    </thead>
    
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @item.PublishDate.Humanize()
                </td>


                <td>
                    @Html.ActionLink("Delete", "Delete", new { slug = item.HeaderSlug }) | 
                    @Html.ActionLink("Preview", "Entry", "Blog", new { area = "", headerSlug = item.HeaderSlug }, new { }) |
                    @Html.ActionLink("Edit", "Edit", new { slug = item.HeaderSlug })

                </td>
            </tr>
        }
    </tbody>

</table>
