@using Blog.Core.Infrastructure.Persistence.Entities
@using Blog.Infrastructure.Common
@model IEnumerable<BlogEntry>

@{
    ViewBag.Title = "All";
}

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.PublishDate)
            <th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var entry in Model) {
            <tr>
                <td>
                     @Html.DisplayFor(_ => entry.Header)
                </td>
                <td>
                    @Html.DisplayFor(_ => entry.Views)
                </td>
                <td>
                    @entry.PublishDate.Humanize()
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { slug = entry.HeaderSlug }) |
                    @Html.ActionLink("Preview", "Entry", "Blog", new { area = "", headerSlug = entry.HeaderSlug }, new {}) |
                    @Html.ActionLink("Edit", "Edit", new { slug = entry.HeaderSlug })
                </td>
            </tr>
        }
    </tbody>

</table>