@using Blog.Core.Infrastructure.Persistence.Entities
@using Blog.Infrastructure.Common
@model IEnumerable<BlogEntry>

@{
    ViewBag.Title = "All";
}

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
            @Html.DisplayNameFor(x => x.PublishDate)
            <th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var entry in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(_ => entry.Header)
                </td>
                <td>
                    @Html.DisplayFor(_ => entry.Views)
                </td>
                <td>
                    @entry.PublishDate.Humanize()
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { slug = entry.HeaderSlug }, new { data_confirmation_msg = "Are you sure you want to delete this entry? There is no going back." }) |
                    @Html.ActionLink("Preview", "Entry", "Blog", new { area = "", headerSlug = entry.HeaderSlug }) |
                    @Html.ActionLink("Edit", "Edit", new { slug = entry.HeaderSlug })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        window.onload = function () {
            var targets = document.querySelectorAll("[data-confirmation-msg]");

            for (var i = 0; i < targets.length; i++) {
                var confirmText = targets[i].getAttribute("data-confirmation-msg");
                targets[i].onclick = function () {
                    if (!confirm(confirmText)) {
                        event.preventDefault();
                    }
                };
            }
        };
    </script>
}