@model Blog.Models.AdminModel.BlogEntryModel

@{
    Layout = null;
}

<p>Welcome to the Admin Controller.</p>

@using (Html.BeginForm("AddBlogEntry", "Admin"))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    
    @Html.LabelFor(m => m.Header);
    <br />
    @Html.TextBoxFor(m => m.Header);
    <br />
    
    @Html.LabelFor(m => m.HeaderSlug);
    <br />
    @Html.TextBoxFor(m => m.HeaderSlug);
    <br />
    
    @Html.LabelFor(m => m.Content);
    <br />
    @Html.TextAreaFor(m => m.Content);
    <br />

    <button type="submit">Post</button>
}
