@model PostPage

@{
    ViewBag.Title = "Index";
}

<header class="page-header">
    <h1>
        @ViewBag.SiteConfig.BlogTitle
    </h1>
</header>

<div class="row">
    <section class="col-lg-8 col-md-8">
        @foreach (var post in Model)
        {
            <article class="post">
                <h2>@Html.ActionLink(post.Title, "Index", "Post", new { postSlug = post.Slug }, new { })</h2>
                <time class="publish-time" datetime="@post.PublishedAt.ToString("ddd MMM dd yyyy HH:mm:ss")">
                    @post.PublishedAt.ToString("f", new CultureInfo("en-US"))
                </time>
                <div>
                    @MarkdownHelper.Transform(post.Body, Html)
                </div>
            </article>
            <hr />
        }
    </section>
    <aside class="col-lg-4 col-md-4">
        @MarkdownHelper.Transform(ViewBag.SiteConfig.AboutText, Html)
        @*<h1>Medium</h1>
        <p>Medium is a beautiful blog engine. The project is open-source and hosted on <a href="https://github.com/ByteBlast/Medium">GitHub.</a></p>
        <p>You could put your own "About Me" here.</p>*@
    </aside>
</div>

@Html.Partial("_MinimalPagination")