@model ConfigurationModel

@{
    ViewBag.Title = "Configuration";
}

<h3>Configuration</h3>

@using (Html.BeginForm("Save", "Configuration"))
{
    <div class="form-group">
        @Html.LabelFor(config => config.BlogTitle)
        @Html.TextBoxFor(config => config.BlogTitle, new { @class = "form-control", placeholder = "Title" })
    </div>
    <div class="form-group">
        @Html.LabelFor(config => config.AboutText)
        @Html.TextAreaFor(config => config.AboutText, new { @class = "form-control", placeholder = "Title" })
    </div>
    <div class="form-group">
        @Html.LabelFor(config => config.PageSize)
        <div>
            @Html.EditorFor(config => config.PageSize, new { @class = "form-control", placeholder = "Title" })
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
}