<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" type="text/css" href="~/Content/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style-sheet.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive-grid.css">
    
</head>
    <body>
        <nav class="vertical-nav">
            <ul>
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("Compose", "Add", "Entries")</li>
                <li>@Html.ActionLink("Posts", "All", "Entries")</li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
        
        <div class="centered-container">
            @RenderBody()
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    </body>
</html>