<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="~/Content/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style-sheet.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive-grid.css">
    @RenderSection("Styles", false)
    
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>


</head>

<body class="language-csharp">

    <header>
        <nav>
            <div class="pull-left">
                <a href="@Url.Action("Add", "Entries")"><i class=" fa fa-pencil fa-fw"></i></a>
                <a href="@Url.Action("All", "Entries")"><i class="fa fa-copy fa-fw"></i></a>
            </div>

            <div class="pull-right">
                <a href=""><i class="fa fa-gear fa-fw"></i></a>
                <a href="@Url.Action("Index", "Blog", new {area=""})"><i class="fa fa-home fa-fw"></i></a>
                <a href=""><i class="fa fa-sign-out fa-fw"></i></a>
            </div>
        </nav>
    </header>
    
        @RenderBody()


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>