@model Blog.Models.EntryInput

<section>
    @if (!string.IsNullOrEmpty(ViewBag.LinkToEntry)) {
        <div class="validation-summary-success">
            <p>Post published. <a href="@ViewBag.LinkToEntry">View Post</a>.</p>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage)) {
        <div class="validation-summary-errors">
            <p>@ViewBag.ErrorMessage</p>
        </div>       
    }

</section>

<div id="bestestform">

    @using (Ajax.BeginForm("Add", "Entries", new AjaxOptions { LoadingElementId = "progress", UpdateTargetId = "bestestform", InsertionMode = InsertionMode.Replace}))
    {
        @Html.LabelFor(m => m.Header);
        @Html.TextBoxFor(m => m.Header);

        @Html.LabelFor(m => m.HeaderSlug);
        @Html.TextBoxFor(m => m.HeaderSlug);

        @Html.LabelFor(m => m.Content);
        @Html.HiddenFor(m => m.Content)
        <pre id="code-editor"></pre>

        <button type="submit" class="flat-button">Post</button>
    }
</div>

<div id="progress">
    <p>Publishing...</p>
</div>