@model IEnumerable<GoBlog.Domain.Model.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@TempData["Message"]</p>

<table>
    <tr>
        <td>Title</td>
        <td>Publish Date</td>
    </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.PublishDate</td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "Delete",
                    "Admin",
                    new { slug = post.Slug },
                    new { data_confirmation_msg = "Are you sure you want to delete this entry? There is no going back." })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Logout", "Logout", "Login")