@model IEnumerable<GoBlog.Domain.Model.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@TempData["Message"]</p>
<p>You shouldn't be here unless you are authenticated.</p>
@Html.ActionLink("Logout", "Logout", "Login")

<table>
    <tr>
        <td>Title</td>
        <td>Publish Date</td>
    </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.PublishDate</td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Admin", new { slug = post.Slug }, new{})
            </td>
        </tr>
    }

</table>
